main {
    display: flex;
    flex-direction: column;
}

.inventory {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    @media (max-width: 480px) {
        flex-direction: column;
    }
    >div {
        width: 40%;
        @media (max-width: 480px) {
            width: 100%;
        }
    }
}