.itemContainer {
    background-color: grey;
    width: 200px;
}

.itemNotDraggable{
    background-color: salmon;
    width: 200px;
    margin: 5px;
}

section {
    display: flex;
    justify-content: space-between;
}


// 
main {
    display: flex;
    flex-direction: column;
}

.inventory {
    height: 90vh;
    display: flex;
    justify-content: space-around;
    div {
        flex-basis: 40%;
    }
}