.itemContainer {
    background-color: grey;
    width: 200px;
}

.itemNotDraggable{
    background-color: salmon;
    width: 200px;
    margin: 5px;
}

section {
    display: flex;
    justify-content: space-between;
}

.box {
    border: 2px black dotted;
    margin: 10px;
    padding: 10px;
}

.unavailable {
    background-color: red;
}