.users {
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid $main-grey;
    div {
        text-align: center;
        color: $main-dark;
        padding: 5px;
        margin-right: 10px;
    }
}
